{
  "presets": ["es2015"],
  "plugins": [
    "syntax-async-functions",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "transform-regenerator",
    "transform-promise-to-bluebird"
  ]
}
